
<div class="tweet-title">
  <%= image_tag 'tweet-back.jpg', class:'tweets-image' %>
 
 <div class="tweet-detail">
   <div class="tweet-title2">
     |みんなの自由投稿一覧|
   </div>
  <br>
  <br>
  みんなの達成したことなど
  <br>
  <br>
  自由に投稿されています
  <br>
  <br>
  いいねやコメントで応援したり
  <br>
  <br>
  参考にしたりしましょう
 </div>
</div>

<div class="tweet-link">

 <%= link_to "新規投稿ページへ", new_tweet_path , class:'link'%>
 
 
</div>


<div class="ohayo-box">

  
  <% @tweet.each do |t| %>
     
    <div class="ohayo">
      <div class="image3">

        <div class="user-image">
          <%= image_tag t.user.image_url,size: "100x100" if t.user.image? %>
        </div>
      
        
        <div class="user">
          <%= link_to t.user.name, user_path(t.user.id) %>
        </div>
        <div class="links">
        <div class="link-1">
          <i class="fa-solid fa-pen-to-square edit-btn"style="color:#262626;" ></i>
          <br>
          <%= link_to "編集する", edit_tweet_path(t.id) %>
           
        </div>
        <div class="link-2">
         <i class="fa-solid fa-trash trash-btn"style="color:#262626;" ></i>
         <br>
         <%= link_to "削除する", tweet_path(t.id), method: :delete %>
        </div>
       </div>
     
      </div>

      <%= t.body %>

      <div  class="respond">   
     
        <div class="ohayo-good">
          <% if user_signed_in? %>
              <% if current_user.already_gooded?(t) %>
              <%= button_to tweet_good_path(id: t.id, tweet_id: t.id ), method: :delete do %>
                  <i class="far fa-heart like-btn" style="color:#e54747;"></i>
                  <%= t.goods.count %>
              <% end %>
              <% else %>
                <%= button_to tweet_goods_path(id: t.id, tweet_id: t.id), method: :post do %>
                  <i class="far fa-heart like-btn" style="color:#e54747;"></i>
                <%= t.goods.count %>
              <% end %>
              <% end %>
              <% else %>
              <p>いいねの数 = </p><%= t.goods.count %>
            <% end %>
        </div>
  
        <div class="ohayo-comment">
          <% if user_signed_in? %>
              <%= form_with(model: [@tweets, @letter], local: true) do |f| %>
                <%= f.text_area :content %>
                <%= button_tag type: "submit" do %>
                  <i class="far fa-comments comment-btn" style="color:#262626"></i> コメントする
                <% end %>
              <% end %>
          <% end %>
        </div>

     
      </div>

      
      <div class="comment-wrapper">



        <div class="comment">
          <br>
          <p>｜コメント一覧｜</p>
  
          <%  t.letters.each do |c| %>
            <div>
              <%= c.user.email unless c.user.blank? %>
              <p><%= link_to c.user.name, user_path(c.user.id) %>:
     
              <%= c.content %></p>
            </div>
       
          <% end %>
        </div>
      
 
      <p id="notice"><%= notice %></p>
   </div>
    </div>
  <% end %> 
</div>
