
<div class="explain3">
  <br>
  <br>
  <%= image_tag 'my-back.jpg', class:'my-image' %>

  <div class="my">
    <br>
    <br>
    <div class="mypage-title">|マイページ|</div>
    <br>
    <br>
    あなたの頑張りだけが表示されます
    <br>
    あなたの頑張りを見てみましょう
  </div>
</div>

<div class="line">
   ｜プロフィール｜
</div>

<div class="my2">
  
 <div class="image-my">
   <br>
   <br>
   <br>
   <br>
   <%= image_tag @user.image_url, size: "250x200" if @user.image? %>
 </div>
 <div class="profile">
   名前 : <%= @user.name %>
   <br>
   <br>
   プロフィール : <%= @user.profile %>
 </div>
 
 <div class="edit-link1">
   <% if current_user.id == @user.id %>
     <%= link_to "編集する", edit_user_registration_path %>
   <% end %>
 </div>
</div>

<div class="record">
 |あなたの早起き記録|
</div>

<div class="calendar">
  <br>
  <br>
  <%= month_calendar events: @user.ohayos do |date, ohayos| %>
    <%= date.day %>
</div>

  <% ohayos.each do |ohayo| %>
    <div>
    <p>起床時間 <%= ohayo.wake.strftime( "%H:%M")if ohayo.wake.present? %></p>
      
    <p>就寝時間 <%= ohayo.sleep.strftime( "%H:%M") if ohayo.sleep.present? %></p>
    
    <p>布団出るまでにかかった時間<%= ohayo.time %>分</p>
    
    <p>今日の気分→<%= ohayo.feel %></p>
    
    <p>何したか→<%= ohayo.what %></p>  
    </div>
   <% end %>
<% end %>

<div class="tweet-all">
  <div class="your">
    <h2>|あなたの投稿一覧|</h2>
    
  </div>

  
   <div class="tweets-line">
      <% @user.tweets.each do |t| %>

        <div class="your-tweets">
           <div class="your-tweets1">
             <%= t.created_at %>
             <br>
             <%= t.body %>
           </div>
        </div>
  
      <% end %>
   </div>
</div>



<%= link_to "投稿一覧に戻る", ohayos_path, class:'link' %>
