
<div class="explain3">
  <br>
  <br>
  <%= image_tag 'my-back.jpg', class:'my-image' %>

  <div class="my">
    <br>
    <br>
    <h1>|マイページ|</h1>
    <br>
    <br>
    あなたの頑張りだけが表示されます
    <br>
    あなたの頑張りを見てみましょう
  </div>
</div>

<div class="my2">
 <p>名前 : <%= @user.name %></p>
 <p>メールアドレス : <%= @user.email %></p>
 <p>プロフィール : <%= @user.profile %></p>

 <%= image_tag @user.image_url, size: "250x200" if @user.image? %>

 <% if current_user.id == @user.id %>
   <%= link_to "編集する", edit_user_registration_path %>
 <% end %>
</div>

<div class="record">
 <h2>|あなたの早起き記録|</h2>
</div>

<div class="calendar">
  <%= month_calendar events: @user.ohayos do |date, ohayos| %>
    <%= date.day %>
</div>

  <% ohayos.each do |ohayo| %>
    <div>
    <p>起床時間 <%= ohayo.wake.strftime( "%H:%M")if ohayo.wake.present? %></p>
      
    <p>就寝時間 <%= ohayo.sleep.strftime( "%H:%M") if ohayo.sleep.present? %></p>
    
    <p>布団出るまでにかかった時間<%= ohayo.time %>分</p>
    
    <p>今日の気分→<%= ohayo.feel %></p>
    
    <p>何したか→<%= ohayo.what %></p>  
    </div>
   <% end %>
<% end %>


<h2>ユーザーの投稿一覧</h2>
<% @user.ohayos.each do |t| %>
  
<% end %>


<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_ohayos.each do |t| %>
  <%= t.user.name %>
  <%= t.wake %>
  <%= t.sleep %>
  <%= t.time %>
  <%= t.feel %>
  <%= t.what %>
  
<% end %>

<%= link_to "投稿一覧に戻る", ohayos_path %>
